.container {
  width: 1440px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.container ul {
  width: 1440px;
  height: 400px;
  overflow: hidden;
}

.container ul li a {
  display: block;
}

.container ul li a img {
  width: 1920px;
  height: 400px;
  position: relative;
  left: -240px;
}

.container ol {
  position: absolute;
  bottom: 10px;
  left: 680px;
  overflow: hidden;
  padding: 3px;
  z-index: 2;
}

.container ol li {
  background: white;
  float: left;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  margin-right: 10px;
}

#rtBtn, #ltBtn {
  width: 38px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  top: 166px;
  left: 0;
  -webkit-transition: all 1s ease 0s;
}

#rtBtn {
  right: 115px;
  left: auto;
}

#ltBtn {
  right: auto;
  left: 105px;
}

.gou {
  width: 1180px;
  height: 412px;
  margin: 0 auto;
  position: relative;
}

.gou ul {
  width: 1180px;
  height: 412px;
}

.gou a {
  display: block;
  width: 381px;
  height: 412px;
  overflow: hidden;
  background: #fff;
  color: #333333;
  font-size: 12px;
  text-decoration: none;
  float: left;
  margin-right: 18px;
  margin-bottom: 48px;
}

.gou a img {
  width: 293px;
  height: 293px;
  margin-left: 39px;
}

.gou ol {
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  overflow: hidden;
  padding: 3px;
  z-index: 2;
}

.gou ol li {
  background: white;
  float: left;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  margin-right: 10px;
}

#rtBtn1, #ltBtn1 {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  top: 140px;
  left: 0;
  -webkit-transition: all 1s ease 0s;
}

#rtBtn1 {
  right: 10px;
  left: auto;
}

#ltBtn1 {
  right: auto;
  left: 10px;
}

.main {
  overflow: hidden;
  position: relative;
}

.four {
  display: block;
  width: 1180px;
  height: 110px;
  position: relative;
}

.webin {
  width: 1100px;
  height: 44px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.main_t {
  height: 58px;
}

.mg {
  margin-bottom: 20px;
}

.main_tl:hover {
  text-decoration: none;
}

.main_tlb {
  height: 131px;
  padding: 18px 30px;
  line-height: 1.5;
  position: relative;
  top: -10px;
}

.main_tl:hover .main_tlb {
  background: #ff666b;
  color: #fff;
}

.main_tl:hover h1 {
  color: #fec602;
}

.main_tl:hover p:last-child {
  background: #fff;
  color: #ff666b;
}

.main_tlb p span:first-child {
  display: inline-block;
  width: 70px;
  height: 22px;
  background: #fff;
  border: 1px solid #ff666b;
  border-radius: 3px;
  color: #ff666b;
  text-align: center;
  margin-right: 10px;
}

.main_tlb h1 {
  color: #ff666b;
  margin-left: 70px;
}

.price {
  margin-left: 50px;
  text-decoration: line-through;
}

.main_tlb p:last-child {
  width: 110px;
  height: 36px;
  background: #ff666b;
  color: #fff;
  text-align: center;
  line-height: 36px;
  float: right;
  position: relative;
  top: -50px;
}

.gou ul li .main_last {
  margin-right: 0;
  float: right;
}

.main_ctt {
  width: 1180px;
  height: 50px;
  overflow: hidden;
}

.main_ctt h1 {
  float: left;
  color: #34495e;
  margin-right: 20px;
  font-size: 28px;
}

.main_ctt p {
  color: #666;
  font-size: 16px;
  position: relative;
  top: 12px;
}

.hot {
  display: block;
  height: 390px;
  margin-bottom: 20px;
}

.hot_l {
  width: 580px;
  height: 390px;
  float: left;
}

.hot_r {
  width: 580px;
  height: 390px;
  float: right;
}

.main_boom {
  overflow: hidden;
}

.main_boom_l {
  width: 280px;
  height: 420px;
  background: #fff;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  overflow: hidden;
}

.main_boom_l a img {
  width: 280px;
  height: 300px;
}

.lta {
  display: block;
  width: 250px;
  height: 40px;
  line-height: 1.5;
  margin: 10px 20px 10px 12px;
  color: black;
}

.fp {
  display: block;
  padding: 0 14px 8px;
  color: #ff666b;
}

.fp span:first-child {
  font-size: 20px;
  font-weight: bold;
}

.fp span:nth-child(2) {
  color: #9e9e9e;
  text-decoration: line-through;
  margin: 0 5px;
}

.fp span:last-child {
  color: #9e9e9e;
}

.time {
  margin-left: 14px;
  float: left;
}

.mai {
  float: right;
  width: 100px;
  height: 30px;
  background: #ff666b;
  text-align: center;
  line-height: 30px;
  color: #fff;
  margin: -8px 10px 10px 0;
  display: none;
}

.main_boom_l:hover {
  box-shadow: 3px 0 5px #ccc;
}

.main_boom_l:hover .mai {
  display: block;
}

.main_boom_l:hover .lta {
  color: #ff666b;
}

.main_boom_l:hover a:first-child img {
  padding: 10px;
}

.blast {
  margin-right: 0;
}

.main_cbtj {
  height: 900px;
  overflow: hidden;
}

.cb {
  margin-top: 40px;
}

.main_cbt {
  height: 30px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  margin-bottom: 20px;
}

.fa {
  color: #34495e;
  font-size: 20px;
  float: left;
  font-weight: bold;
}

.la {
  float: left;
  color: #34495e;
  margin-left: 15px;
  margin-top: 8px;
}

.fa:hover, .la:hover {
  color: #ff666b;
}

.main_cbpic {
  display: block;
  width: 280px;
  height: 400px;
  background: #fff;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.lpic {
  margin-right: 0;
}

.main_cbpic a {
  color: #34495e;
}

.main_cbpic a:hover {
  text-decoration: none;
}

.tui_tu {
  width: 280px;
  height: 280px;
}

.main_cbtxt {
  height: 119px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 14px 14px 20px 14px;
}

.main_cbtxt p:first-child {
  line-height: 1.5;
  margin-bottom: 26px;
  font-size: 14px;
}

.tui_p span:first-child {
  color: #ff666b;
  float: left;
  font-size: 14px;
  font-weight: bold;
}

.tui_p span:last-child {
  float: right;
  color: #9e9e9e;
}

.tui_p img {
  margin-left: 155px;
}

.main_bb {
  height: 480px;
  overflow: hidden;
}

.pp-l {
  width: 190px;
  height: 480px;
  float: left;
}

.pp-r {
  width: 190px;
  height: 480px;
  float: right;
}

.main_bb ul {
  width: 800px;
  height: 480px;
  overflow: hidden;
  float: left;
}

.main_bb ul li {
  float: left;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.main_bb ul li a img {
  width: 199px;
  height: 79px;
}

/*# sourceMappingURL=sh-main.css.map */
